body {
  background-color: #666;
}
#canvas1 {
  background-color: #0f0;
  position:fixed;
  top:50px;
  left:50px;
}
#canvas2 {
  background-color: #f00;
  position:fixed;
  top:250px;
  left:250px;
}